@using BlazorStorageSystem.Models.Product
@using BlazorStorageSystem.Pages
@using System.Globalization


<div class="wrapper fixed top-0 w-full h-screen bg-indigo-900/50 left-0 z-10 flex justify-center items-center" @onclick="_ => Close.InvokeAsync(true)">
    <div class="p-4 flex flex-col w-1/2 h-3/4 overflow-y-auto  bg-blue-300 border-2 border-blue-500 rounded-xl" @onclick:stopPropagation="true">
        <div class="flex flex-col h-full justify-around text-xl text-stone-600">
            <div class="flex justify-between items-center">
                <span class="white">ФИО: </span>
                <span class="white">@Seller.Name</span>
            </div>
            <div class="flex justify-between items-center">
                <span class="white">Общее количество проданных товаров: </span>
                <span class="white">@Seller.Count</span>
            </div>
            <div class="flex justify-between items-center">
                <span class="white">Дата последней продажи: </span>
                <span class="white">@Seller.Last?.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</span>
            </div>
            <div class="flex justify-between items-center">
                <span class="white">Продажи: </span>
            </div>
        </div>
        <div class="pl-20">
            @foreach (var order in Seller.Orders)
            {
                <div class="mb-2 flex flex-col text-xl text-stone-600 border-2 border-indigo-500 p-2 rounded-xl">
                    <div class="flex justify-between items-center">
                        <span class="white">ID: </span>
                        <span class="white">@order.Id</span>
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="white">Покупатель: </span>
                        <span class="white">@order.Name</span>
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="white">Дата продажи: </span>
                        <span class="white">@order.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture)</span>
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="white">Стоимость: </span>
                        <span class="white">@order.Price руб.</span>
                    </div>
                    <div class="flex flex-col">
                        <p class="white">Товары: </p>
                        @for (var i = 0; i < order.Products.Count; i++)
                        {
                            var product = order.Products[i];
                            <p class="white">@(i + 1)) @product.Name @product.Count кг.</p>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@code
{
    [Parameter]
    public EventCallback<bool> Close { get; set; }

    [Parameter]
    public Sellers.SellerModel Seller { get; set; } = null!;
}