@using BlazorStorageSystem.Data
@namespace BlazorStorageSystem.Components

<table class="rounded-xl bg-blue-300 p-2 w-full text-gray-600">
    <thead>
    <tr>
        <th class="text-left p-2 border-blue-500 border-r-2 @BorderBottom()">№</th>
        <th class="text-left p-2 border-blue-500 border-r-2 @BorderBottom()">Имя</th>
        <th class="text-left p-2 border-blue-500 border-r-2 @BorderBottom()">Кол-во</th>
        <th class="text-left p-2 border-blue-500 border-r-2 @BorderBottom()">Категория</th>
        <th class="text-left p-2 border-blue-500 border-r-2 @BorderBottom()">Продано</th>
        <th class="text-left p-2 border-blue-500 border-r-2 @BorderBottom()">Продавец</th>
        <th class="text-left p-2 border-blue-500 border-r-2 @BorderBottom()">Производитель</th>
        <th class="text-left p-2 border-blue-500 @BorderBottom()">Дата окончания срока годности</th>
    </tr>
    </thead>
    <tbody>
    @for (var i = 0; i < Products.Count; i++)
    {
        var product = Products[i];
        <tr>
            <td class="p-2 border-blue-500 border-r-2 @BorderBottom(i)">@product.Id</td>
            <td class="p-2 border-blue-500 border-r-2 @BorderBottom(i)">@product.Name</td>
            <td class="p-2 border-blue-500 border-r-2 @BorderBottom(i)">@product.Count</td>
            <td class="p-2 border-blue-500 border-r-2 @BorderBottom(i)">@product.Category</td>
            <td class="p-2 border-blue-500 border-r-2 @BorderBottom(i)">@product.Sold</td>
            <td class="p-2 border-blue-500 border-r-2 @BorderBottom(i)">@product.Seller</td>
            <td class="p-2 border-blue-500 border-r-2 @BorderBottom(i)">@product.Manufacturer</td>
            <td class="p-2 border-blue-500 @BorderBottom(i)">@product.ExpirationDate.ToShortDateString()</td>
        </tr>
    }
    </tbody>
</table>

@code 
{
    [Parameter]
    public List<Product> Products { get; set; } = null!;

    [Parameter]
    public EventCallback<List<Product>> ProductsChanged { get; set; }

    private string BorderBottom(int i = -1)
    {
        return i != Products.Count - 1 && !(Products.Count == 0 && i == -1) ? "border-b-2" : "";
    }
}